

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Maganrendelo</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Bejelentkezés<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/registration">Regisztráció</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0" id="search-component">
            <input class="form-control mr-sm-2" [(ngModel)]="searchText" type="search" placeholder="Keresés" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/surgeries/{{searchText}}">Keresés</button>
        </div>
    </div>
</nav>