<div class="container">
    <div class="row h-100">
        <div *ngFor="let clinic of clinics" class="card mr-auto my-5 mx-4 text-white bg-dark" style="width: 20rem;">
            <img src="./assets/szent-margit-rendelointezet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{clinic.name}}</h5>
                <p class="card-text">{{clinic.addr}} {{clinic.opening}}
                </p>
                <a href="#" class="btn btn-primary">Részletek</a>
            </div>
        </div>
    </div>
</div>