
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: rgb(146, 146, 146);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: rgb(114, 114, 114);
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  .border{
    width: 320px;
    height: 320px;
    margin-top: 40px;
  }


  .image{
      width: 300px;
      height: 300px;
  }

  .center {
    margin: auto;
    padding: 10px;
    text-align: center;
  }

  button{
    margin-right: 10px;
  }

  .card{
      width: 600px;
      margin-top: 50px;
      border-radius: 30px;
  }

  table {
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-left: 90px;
  }

  button{
    margin-right: 10px;
  }

  .btn-danger{
    background-color: rgb(223, 0, 0);
  }

  .btn-danger:hover {
    background-color: rgb(185, 0, 0);
  }

  .delete{
    margin-bottom: 40px;
  }

  .btn-info{
    background-color: #17a2b8;
  }

  .fa-arrow-circle-left{
    margin-bottom: 5px;
    color: orange;
    font-size:25px;
    text-align: left;
  }

  .fa-arrow-circle-left::before{
      cursor: pointer;
  }



