<div class="card mb-3 center text-white bg-dark">
  <i class="fa fa-arrow-circle-left" (click)="goBack()"></i>
  <img class="image" src="./assets/szent-margit-rendelointezet.jpg" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{surgery.name | uppercase}}</h5>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>Nyitvatartás:</th>
          <td>{{surgery.opening}}</td>
        </tr>
        <tr>
          <th>Cím:</th>
          <td>{{surgery.address}}</td>
        </tr>
        <tr>
          <th>Tel.:</th>
          <td>{{surgery.tel}}</td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>{{surgery.email}}</td>
        </tr>
        <tr>
          <th>Info:</th>
          <td>{{surgery.info}}</td>
        </tr>
      </tbody>
    </table>


  </div>
  <button class="btn btn-info" data-toggle="modal" data-target="#modalSubscriptionForm">Időpont foglalás</button>
  <button class="btn btn-info" routerLink="/admin/surgeries/{{surgery.id}}/edit">Módosít</button>
  <button class="delete btn btn-danger" title="delete surgery" (click)="open(mymodal)">Töröl</button>
  <p class="card-text terkep">Térkép:</p>
  <iframe [src]="mapUrl()" width="auto" height="450" frameborder="0" style="border:0;" allowfullscreen=""
    aria-hidden="false" tabindex="0"></iframe>
  <div class="container">
    <h2 class="text-center">Kommentek</h2>
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-body">              
              <form class="form-inline" (ngSubmit)="postComment()" #commentForm="ngForm">
                <textarea [(ngModel)]="comment.content" placeholder="Írja ide a kommentjét!" class="pb-cmnt-textarea" name="text" type="text" ></textarea>
                    <button class="btn btn-primary pull-right" routerLink="/admin/surgeries/{{surgery.id}}" type="submit">Küldés</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <div class="list-group">
        <div href="#" class="list-group-item" *ngFor="let comment of comments">
            <h4 class="list-group-item-heading">{{comment.author}}</h4>
            <p class="list-group-item-text">{{comment.content}}</p>
        </div>
    </div>
    </div>
  </div>
  </div>
  <p class="card-text"><small class="text-muted">Last updated...</small></p>
</div>




<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Magánrendelő törlése</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Biztos benne, hogy törölni szeretné?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Vissza</button>
    <button type="button" class="btn btn-danger" (click)="delete(surgery)"
      (click)="modal.close('Close click')">Törlés</button>
  </div>
</ng-template>

<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog bg-dark" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Időpont foglalás</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form3">Orvostudományi ág kiválasztása</label>
          <select class="custom-select form-control validate" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Fül-orr-gégészet</option>
            <option value="2">Kardiológia</option>
            <option value="3">Sebészet</option>
          </select>
        </div>

        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form3">Orvos kiválasztása</label>
          <select class="custom-select form-control validate" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option *ngFor="let doctor of doctors">{{doctor.lastname}} {{doctor.firstname}}</option>
          </select>
        </div>

        <div class="md-form mb-4" style="display: inline-block;">
          <label data-error="wrong" data-success="right" for="form2" style="display: block;">Dátum</label>
          <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [footerTemplate]="footerTemplate"></ngb-datepicker>
        </div>

        <div class="md-form mb-4 idopont" style="display:inline-block;">
          <label data-error="wrong" data-success="right" for="form2" style="display: block;">Idő</label>
          <ngb-timepicker [(ngModel)]="time" [minuteStep]="minuteStep"></ngb-timepicker>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-indigo">Foglalás</button>
      </div>
    </div>
  </div>
</div>

<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="btn btn-primary btn-sm m-2 float-left" (click)="selectToday()">Mai nap</button>
</ng-template>

