<div class="card mb-3 center text-white bg-dark">
    <img class="image" src="./assets/szent-margit-rendelointezet.jpg" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{surgery.name | uppercase}}</h5>
        <p class="card-text">Nyitvatartás: {{surgery.opening}}</p>
        <p class="card-text">Cím: {{surgery.address}}</p>
        <p class="card-text">Tel.: {{surgery.tel}}</p>
        <p class="card-text">Email: {{surgery.email}}</p>
        <p class="card-text">Orvosok: Baka Tamás, Vakol Tibor</p>
        <p class="card-text">info: {{surgery.info}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>