<section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-patients-tab" data-toggle="tab" href="#nav-patients" role="tab"
              aria-controls="nav-patients" aria-selected="true">Páciensek</a>
            <a class="nav-item nav-link" id="nav-doctors-tab" data-toggle="tab" href="#nav-doctors" role="tab"
              aria-controls="nav-doctors" aria-selected="false">Orvosok</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-patients" role="tabpanel" aria-labelledby="nav-patients-tab">
            <table class="table table-dark table-striped table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Vezetéknév</th>
                  <th scope="col">Keresztnév</th>
                  <th scope="col">Email</th>
                  <th scope="col">Tel</th>
                  <th scope="col">TAJ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patient of patients">
                  <td>{{ patient.id }}</td>
                  <td>{{ patient.lastname }}</td>
                  <td>{{ patient.firstname }}</td>
                  <td>{{ patient.email }}</td>
                  <td>{{ patient.tel }}</td>
                  <td>{{ patient.taj }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-doctors" role="tabpanel" aria-labelledby="nav-doctors-tab">
            <table class="table table-dark table-striped table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Vezetéknév</th>
                  <th scope="col">Keresztnév</th>
                  <th scope="col">Email</th>
                  <th scope="col">Tel</th>
                  <th scope="col">Kategória</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of doctors">
                  <td>{{ doctor.id }}</td>
                  <td>{{ doctor.lastname }}</td>
                  <td>{{ doctor.firstname }}</td>
                  <td>{{ doctor.email }}</td>
                  <td>{{ doctor.tel }}</td>
                  <td>{{ doctor.category }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>